// import link download font family
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

$font-lato: 'Lato',
sans-serif;

body {
  margin: 0;
  padding: 0;
  font: "Lato", Arial, sans-serif;
}

// abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// base
@import 'base/global';

// layout
@import 'layouts/VHome';
@import 'layouts/VLogin';

// components
@import 'components/VListUsers';
@import 'components/VChatBox';
@import 'components/VThemeOptions';
